#tic-tac-toe-debug {
  background-color: #ffffff;
  font-size: 10pt;
  height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  width: 88%;
}

#tic-tac-toe-board {
  width: 195px;
}

#tic-tac-toe-container {
  display: inline;
  margin: 0 5px;
}

#block-tic-tac-toe-tic-tac-toe {
  padding: 5px;
}
